.play-button::after {
    @apply content-[''] w-[88px] h-[88px] absolute top-1/2 -translate-y-1/2 start-1/2 translate-x-1/2 border-light border-opacity-60 border rounded-full hidden;
}
.play-button::before {
    @apply content-[''] w-[108px] h-[108px] absolute top-1/2 -translate-y-1/2 start-1/2 translate-x-1/2 border-light border-opacity-40 border rounded-full hidden
}

.play-button span {
    @apply content-[''] w-[128px] h-[128px] absolute top-1/2 -translate-y-1/2 start-1/2 translate-x-1/2 border-light border-opacity-20 border rounded-full hidden
}


@keyframes example {
    from {
        width: 68px;
        height: 68px;
        opacity: 100;
    }
    
    to {
        width: 88px;
        height: 88px;
        opacity: 10;
    }
}
@keyframes example2 {
    from {
        width: 68px;
        height: 68px;
        opacity: 100;
    }
    
    to {
        width: 108px;
        height: 108px;
        opacity: 5;
    }
}
@keyframes example3 {
    from {
        width: 68px;
        height: 68px;
        opacity: 100;
    }
    
    to {
        width: 128px;
        height: 128px;
        opacity: 0;
    }
}
.play-button::after {
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    @apply block
}
.play-button::before {
    animation-name: example2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    @apply block
}
.play-button span {
    animation-name: example3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    @apply block
}